<ul id="instruments">
  <li id="bass" data-instrumentid="hi">Bass Drum</li>
  <li id="beep">Beep</li>
  <li id="clap">Clap</li>
  <li id="high-hat-short">Short High Hat</li>
  <li id="high-hat">High Hat</li>
  <li id="inception-horn">Inception Horn</li>
  <li id="loop">Loop</li>
  <li id="snare">Snare</li>
</ul>



<script type="text/javascript">
  //listen for instruments
  //  on instrument added
  //    add to #instruments list
  //      add instrument trigger to list item

  var privateChannel = pusher.subscribe('presence-play_channel');

  var instruments = document.getElementById("instruments");
  
  // Add the click event to the parent

  instruments.addEventListener('click', function(e) {
    
    // Get the targeted node
    if(e.target && e.target.nodeName == 'LI') {
      
      privateChannel.trigger('client-play_message', {
        instrument    : e.target.id,
        instrumentid  : e.target.dataset.instrumentid
      });
    } 
  });


</script>
