<ul id="instruments">
  <li id="bass" data-instrumentid="hi"><div></div></li><!--
  --><li id="beep"><div></div></li><!--
  --><li id="clap"><div></div></li><!--
  --><li id="high-hat-short"><div></div></li><!--
  --><li id="high-hat"><div></div></li><!--
  --><li id="inception-horn"><div></div></li><!--
  --><li id="loop"><div></div></li><!--
  --><li id="snare"><div></div></li>
</ul>


<script type="text/javascript">
  //listen for instruments
  //  on instrument added
  //    add to #instruments list
  //      add instrument trigger to list item

  var privateChannel = pusher.subscribe('presence-play_channel');

  var instruments = document.getElementById("instruments");
  
  // Add the click event to the parent

  instruments.addEventListener('click', function(e) {
    
    // Get the targeted node
    if(e.target && e.target.nodeName == 'DIV') {  
       
      // Add the click class
      e.target.className += ' active';
      
      // Fire the play event
      privateChannel.trigger('client-play_message', {
        instrument    : e.target.parentNode.id,
        instrumentid  : e.target.dataset.instrumentid
      });
    } 
  });


</script>
