<ul id="instruments">
  <li><button id="base">Base Drum</button></li>
  <li><button id="beep">Beep</button></li>
  <li><button id="clap">Clap</button></li>
  <li><button id="high-hat-short">Short High Hat</button></li>
  <li><button id="high-hat">High Hat</button></li>
  <li><button id="inception-horn">Inception horn</button></li>
  <li><button id="loop">Loop</button></li>
  <li><button id="snare">Snare</button></li>
</ul>



<script type="text/javascript">
  //listen for instruments
  //  on instrument added
  //    add to #instruments list
  //      add instrument trigger to list item

  // var channel = pusher.subscribe('instrument_channel');

  var privateChannel = pusher.subscribe('presence-play_channel');

  var snare = document.getElementById('snare');

  snare.addEventListener('click', function(e){
    privateChannel.trigger('client-play_message', {
      instrument: 'snare',
      velocity: 50
    });
  })


</script>
