<div class="v-wrap">
    <a href="/controller" class="v-content">
        <div class="option controller">controller</div>
    </a>
</div>

<div class="v-wrap">
</div>
<a href="/instrument" class="v-wrap">
    <div class="option instrument v-content">instrument</div>
</a>