<div class="v-wrap option controller">
    <a href="/controller" class="v-content">Controller</a>
</div>

<div class="v-wrap option instrument">
    <a href="/instrument" class="v-content">Instrument</a>
</div>