<select id="instrument_selectorz">
  <option value="select...."></option>
  <option value="bass">bass</option>
  <option value="beep">beep</option>
  <option value="clap">clap</option>
  <option value="high-hat-short">high-hat-short</option>
  <option value="high-hat">high-hat</option>
  <option value="inception-horn">inception-horn</option>
  <option value="loop">loop</option>
  <option value="snare">snare</option>
</select>

<div id="meani"></div>
<div id="themani"></div>

<script type="text/javascript">

  // super basic id. random number plus timestamp.
  var id = Math.floor(Math.random() * 100) + '-' + Date.now();

  // selecting instrument
  var instchannel = pusher.subscribe('presence-instrument_channel');
  var inst = document.getElementById('instrument_selectorz');
  inst.addEventListener('change', function(e){
    sendInstrument(instchannel, inst.selectedOptions[0].getAttribute('value'));

  });

  function sendInstrument(channelToUse, instrument) {
    console.log("Called");

    if(instrument !== 'select....')
    {
      channelToUse.trigger('client-instrument_message', {
        id: id,
        instrument: instrument
      });
    }
  }

  // play instrument
  var channel = pusher.subscribe('presence-play_channel');
  channel.bind('client-play_message', function(data) {
    if (data.id === id) {

      // trigger animation
      animateSound('me');

      var file = data.instrument + '.mp3';
      var audio = new Audio('sounds/' + file);
      audio.play();

      console.log('play_message: ', data);
    } else {
      // trigger animation
      animateSound('them');
    }
  });

  // Respond with current instrument
  instchannel.bind('client-current_instrument', function() {
    sendInstrument(instchannel, inst.selectedOptions[0].getAttribute('value'));
  });

  function animateSound(who) {
    if (who === 'me') {
      var pulse_target = document.getElementById('meani');
    } else {
      var pulse_target = document.getElementById('themani');
    }

    // trigger animation
    pulse_target.className = 'active'
    setTimeout(function(){
      pulse_target.className = ''
    }, 100);
  }

</script>
