html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2E323B;
  border: 1px solid #979797;
  overflow-x: hidden;
}

.option {
  height: 50%;
  width: 100%;
}

.controller {
  background-color: #aaa;
}

.instrument {
  background-color: #ddd;
}

.v-wrap {
  display: table;
}

.v-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}