html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2E323B;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 70px;
  background: #292C35;
}

header > div {
  height: 100%;
  width: 100%;
  padding: 20px 0 0 30px;
}

.option {
  height: 50%;
  width: 100%;
}

.controller {
  background-color: #aaa;
}

.instrument {
  background-color: #ddd;
}

.v-wrap {
  display: table;
}

.v-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#instrument_selectorz {
  position: absolute;
  top: 15px;
  right: 15px;
}

/*we're destroying the classes here*/
#meani.active {
  height: 100%;
  width: 100%;
  background: red;
  border: none;
}
#themani.active {
  background: #3f434c;
  border: none;
  height: 100%;
  width: 100%;
}
